body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.fris{
    width: 900px;
    background: #ffffff;
    margin: 30px 40px;
}
.fris p{
    color: #3333;
    font-size: 18px;
}
.fris h3{
    font-size: 22px;
}
